/* 
    Created on : 14/03/2018, 12:09:01
    Author     : bruno
*/

/****CLASSIFICAÇÃO E JOGOS****/
.escudo img{
    max-width: 26px;
    max-height: 26px;
    margin: 0;
    position: absolute;
    top: 7px;
    left: 7px;
}

.classificacao{
    list-style: none;
    font-weight: bold;
    color: #305d3e;
}
.classificacao li{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1px 0;
    
}
.smallbox,
.cabecalho,
.nome-time{
    height: 40px;
    line-height: 40px;
}
.smallbox{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0;
}
.escudo{
    position: relative;
}
.clear{
    clear: both;
    width: auto;
    height: auto;
}
.classificacao .nome-time{
    width: calc(100% - 400px);
    margin: 0;
}
.cabecalho{
    background-color: #5E4522;
    color: #fff;
    font-weight: bold;
}
.cabecalho-classificacao .nome-time{
    margin-left: 80px;
}
.posicao{
    color: #5E4522;
}
.pontos{
    color: #181f18;
}
.cabecalho-classificacao .pontos{
    color: #fff;
}
.cabecalho-jogos{
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    
}
.cabecalho-jogos:first-of-type{
    text-transform: uppercase;
}
.cabecalho-jogos:nth-of-type(2){
    margin-top:2px;
    background-color: #9D6417;
    position: relative;
}
.prev,
.next{
    font-size: 30px;
    background-color: inherit;
    position: absolute;
    top: 4px;
    color: #fff;
}
.prev{
    left: 4px;
}
.next{
    right: 4px;
}
.jogos{
    margin-bottom: 30px;
}
.partida{
    font-weight: bold;
    width: 100%;
    background-color: #eee;
    border: 1px solid #888;
    box-shadow: 2px 2px 4px #aaa;
    border-radius: 5px;
    margin: 5px 0;
}
.partida .data-jogo{
    color: #737373;
    font-size: 12px;
   
}
.data-jogo{
    text-align: center;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #888;
}
.partida figcaption,
.partida img,
.partida span{
    height: 38px;
    margin: 5px 0;
}
.partida figcaption{
    font-size: 14px;   
    line-height: 38px;
}
.partida img{
    width: 38px;
    margin:5px 10px;
}
.mandante,
.visitante,
.resultado{
    width: 33%;
    border: 1px solid red;
    display: block;
}

.partida span{
    display: block;
    font-size: 20px;
    text-align: center;
    width: 33%;
    line-height: 38px;
}

.partida-rodape{
    height: 20px;
    border-top: 1px solid #888;
    background-color: #ccc;
}
.resultado span{
    border:1px solid green;
}
/****CLASSIFICAÇÃO E JOGOS****/