#form-edicoes{
    display: block;

}
#form-edicoes select{
    width: 272px;
    border: 2px solid #080808;
    border-radius: 5px;
    display: block;
    float: left;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 7px;
}
.btn-edicao{
    width: 100px;
    background-color: #5E4522;
    font-weight: bold;
    color: #fff;
}
.btn-edicao:hover{
    background-color: #985f0d;
}
.estatisticas{
    margin:60px auto; 
    width: 100%;
}
.container_dados{
    width: 266px;
    color: #fff;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 7px;
    margin-top: 40px;
}

.titulo-dados,
.container_dados{
    text-align: center;
}

.titulo-dados{
    font-size: 22px;
    background-color: #5E4522;
    height: 86px;
    line-height: 86px;
}
.valor_dados{
    background-color: #9D6417;
    height: 176px;
    display: table;
    width: 100%;
}
.container_valor_dados{
    display: table-cell;
    vertical-align: middle;
    
}
.container_dados img{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}
.container_dados span{
    display: block;
}
.fonte-grande{
    font-size: 50px;
}
.fonte-media{
    font-size: 26px;
}
.fonte-pequena{
    font-size: 18px;
}
#valor-media{
    margin-bottom: 10px;
}